@use 'src/styles/break-points.scss' as bp;
@use 'src/styles/colors.scss' as colors;

.content {
  margin-top: 56px;

  background-color: colors.$dark-black;
  height: 300vh;

  overflow-y: scroll;
  width: 100%;
}

:global(.sidebar) {
  .content {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}

:global(.sidebar-mini) {
  .content {
    margin-left: 74px;
    width: calc(100% - 74px);
  }
}
