@use 'src/styles/spacing.scss' as spacing;
@use 'src/styles/colors.scss' as colors;
.spacer {
  padding: 0 spacing.$padding-large 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
  border-bottom: 1px solid colors.$light-grey-dimmed;
}
