@use 'src/styles/colors.scss' as colors;
@use 'src/styles/break-points.scss' as bp;
@use 'src/styles/spacing.scss' as spacing;
.header {
  width: 100vw;
  height: 56px;
  padding: 0 spacing.$padding-large;
  background-color: colors.$black;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: bp.$small) {
  .header {
    padding: 0 spacing.$padding-small;
  }
}

.middle {
  flex: 0 1 728px;
}

.end {
  width: 204px;
  min-width: 204px;
  padding-left: spacing.$padding-large;
}

@media screen and (max-width: bp.$small) {
  .end {
    padding-left: spacing.$padding-small;
  }
}
