@use 'src/styles/spacing.scss' as spacing;

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  padding: 0 spacing.$padding-small;
}

.logo > p {
  color: white;
  padding-left: 2px;
  font-size: 1.2rem;
}
