@use 'src/styles/break-points.scss' as bp;

.search {
  flex: 1 0;
  display: flex;
  flex-wrap: nowrap;
}

.input {
  width: 100%;
}

.searchBtn {
  background-color: #313131;
}
.voiceBtn {
  background: transparent;
}

.icon {
  display: none;
}

@media screen and (max-width: bp.$small) {
  .search {
    justify-content: flex-end;
  }

  .searchBtn {
    background: transparent;
  }

  .input {
    display: none;
  }

  .icon {
    display: inline-block;
  }
}
