.search {
  flex: 1 0;
  display: flex;
  flex-wrap: nowrap;
}
.input {
  width: 100%;
}

.searchBtn {
  background-color: #313131;
}
.voiceBtn {
  background: transparent;
}

.icon {
  display: none;
}

@media screen and (max-width: 655px) {
  .search {
    justify-content: flex-end;
  }
  .input {
    display: none;
  }

  .icon {
    display: inline-block;
  }
}
