@use 'src/styles/break-points.scss' as bp;
@use 'src/styles/colors.scss' as colors;
.sidebarMini {
  position: fixed;
  top: 0;
  width: 74px;
  height: 100vh;
  background-color: colors.$black;
  margin-top: 56px;

  @media screen and (min-width: bp.$large) {
    display: none;
  }
  @media screen and (max-width: bp.$middle) {
    display: none;
  }
}
