@use 'src/styles/break-points.scss' as bp;
@use 'src/styles/colors.scss' as colors;
.sidebarMini {
  position: fixed;
  top: 0;

  height: 100vh;
  background-color: colors.$black;
  margin-top: 56px;
  visibility: hidden;
}

:global(.sidebar-mini) {
  .sidebarMini {
    width: 74px;
    visibility: visible;
  }
}
