@use 'src/styles/break-points.scss' as bp;

.sidebar {
  position: fixed;
  top: 0;
  width: 240px;
  height: 100vh;
  margin-top: 56px;
  visibility: hidden;
  transition-duration: 0s;
}

:global(.sidebar-visible) {
  .sidebar {
    visibility: visible;
  }
}

@media screen and (max-width: bp.$large) {
  .sidebar {
    transition-property: transform;
    transform: translate(-100%, 0);
    z-index: 900;
    visibility: visible;
  }
}
