@use 'src/styles/break-points.scss' as bp;

.sidebar {
  position: fixed;
  top: 0;
  width: 240px;
  height: 100vh;
  margin-top: 56px;
}

@media screen and (max-width: bp.$large) {
  .sidebar {
    display: none;
  }
}
